* {
    font-size: 1.5rem;
    
}

.input-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*width: 500px;*/
    background-color: burlywood;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    box-shadow: 0.25rem 0.25rem 0.5rem gray;
}

input{
    margin: 0 0.5rem 0 0.5rem;
    width: 100%;
    border: none;
    outline:none;
    background-color: burlywood;
    color: white;
}

::placeholder{
    color:gray;
}